*
{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}
.conatct
{
    padding: 40px 50px;
    width: 100%;
}
.conatct .container
{
    max-width: 100%;
    display: flex;
    /* justify-content: ; */
    flex-wrap: wrap;
}
.conatct .container .address
{
    padding: 20px 30px;
}
.conatct .container .address .address_container h3
{
    color: #222222;
    font-size: 26px;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 600;
}
.conatct .container .address .address_container .box
{
    padding: 20px 0px;
    margin-top: 10px;
    border-bottom: 1px solid #757575;
}
.conatct .container .address .address_container .box .title
{
    display: flex;
}
.conatct .container .address .address_container .box .title .icon
{
    font-size: 22px;
    color: #757575;
}
.conatct .container .address .address_container .box .title h4
{
    margin-left: 15px;
    color: #757575;
    font-size: 22px;
}
.conatct .container .address .address_container .box .detail p
{
    margin-top: 10px;
    color: #222222;
    font-size: 14px;
}
.conatct .container .message
{
    margin-left: 100px;
    padding: 20px 30px;
}
.conatct .container .message .message_container h3
{
    color: #222222;
    font-size: 26px;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 600;
}
.conatct .container .message .message_container .input_box
{
    margin-top: 15px;
    width: 500px;
}
.conatct .container .message .message_container .input_box input
{
    width: 100%;
    padding: 12px;
    border: 1px solid #757575;
    color: #222222;
    outline: none;
}
.conatct .container .message .message_container .input_box textarea
{
    resize: none;
    height: 250px;
    width: 100%;
    padding: 12px;
    border: 1px solid #757575;
    color: #222222;
    outline: none;
}
.conatct .container .message .message_container button
{
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    margin-top: 10px;
    border: none;
    outline: none;
    background: #2196f3;
    cursor: pointer;
    font-weight: 600;
    transition: 0.5s;
}
.conatct .container .message .message_container button:hover
{
    background: #222222;
}