*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.home
{
    width: 100%;
}
.home .top_banner
{
    max-width: 100%;
    background: #eeeeee;
    padding: 20px 30px;
}
.home .top_banner .contant
{
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
}
.home .top_banner .contant .info
{
    margin-top: 200px;
    margin-left: 100px;  
}
.home .top_banner .contant .info h2
{
    font-size: 52px;
    color: #232323;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 30%;
}
.home .top_banner .contant .info p
{
    margin-top: 20px;
    color: #757575;
}
.home .top_banner .contant .info p span
{
    color: #2196f3;
}
.home .top_banner .contant .info button
{
    margin-top: 15px;
    padding: 10px 30px;
    background: #2196f3;
    color: #fff;
    font-weight: 600;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
    border: 2px solid #2196f3;
}
.home .top_banner .contant .info button:hover
{
    background: none;
    color: #2196f3;
}
.home .top_banner .contant .img_box img
{
    width: 350px;
    margin-top: -30px;
    margin-right: 90px;
}
.home .about
{
    padding: 20px 30px;
    width: 100%;
    background: #fff;
}
.home .about .container
{
    display: flex;
    max-width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.home .about .container .box
{
    margin-left: 30px;
    padding: 10px 10px;
    border: 2px solid #eeeeee;
    border-radius: 5px;
    width: 250px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.home .about .container .box .icon
{
    font-size: 38px;
    color: #2196f3;
}
.home .about .container .box .info h3
{
    font-size: 14px;
    color: #232323;
    text-transform: uppercase;
}
.home .about .container .box .info p
{
    margin-top: 5px;
    color: #757575;
    font-size: 12px;
}
.home .sale_products
{
    padding: 20px 30px;
    width: 100%;
    background: #fff;
}
.home .sale_products h2
{
    color: #232323;
    font-size: 22px;
    border-bottom: 2px solid #2196f3;
    width: 200px;
}
.home .sale_products .container
{
    margin-top: 20px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.home .sale_products .container .box
{
    margin-left: 30px;
    margin-top: 10px;
    padding: 10px 20px;
    width: 200px;
    overflow: hidden;
    border: 1px solid #eeeeee;
    transition: 0.5s;
}
.home .sale_products .container .box:hover
{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.home .sale_products .container .box .img_box img
{
    width: 150px;
}
.home .sale_products .container .box .detail .icons
{
    margin-top: -30px;
    position: absolute;
    transition: 0.5s;
    display: flex;
    opacity: 0;
}
.home .sale_products .container .box:hover .detail .icons
{
    opacity: 1;
}
.home .sale_products .container .box .detail .icons .icon
{
    margin-left: 10px;
    background: #fff;
    padding: 10px 10px;
    border: 1px solid #757575;
    color: #232323;
    cursor: pointer;
    border-radius: 2px;
    transition: 0.5s;
}
.home .sale_products .container .box .detail .icons .icon:hover
{
    border: none;
    background: #2196f3;
    color: #fff;
}
.home .sale_products .container .box .detail h3
{
    margin-top: 10px;
    color: #232323;
    font-size: 12px;
    text-align: center;
}
.home .sale_products .container .box .detail h4
{
    margin-top: 10px;
    color: #2196f3;
    font-size: 14px;
    font-weight:600;
    text-align: center;
}
.home .sale_products .container .box .detail button
{
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    border: 1px solid #2196f3;
    background: #2196f3;
    transition: 0.5s;
    margin-top: 10px;
    margin-left: 30px;
}
.home .sale_products .container .box .detail button:hover
{
    background: none;
    color: #2196f3;
}
.home .mid_banner
{
    padding: 10px 20px;
    background: #fff;
}
.home .mid_banner .container
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.home .top_category
{
    padding: 10px 20px;
    width: 100%;
    background: #fff;
}
.home .top_category .container
{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.home .top_category .container .cat_box
{
    width: 200px;
    padding: 10px 10px;
    margin-right: 10px;
}
.home .top_category .container .cat_box h2
{
    color: #232323;
    font-size: 18px;
    margin-top: 10px;
}
.home .top_category .container .cat_box p
{
    margin-top: 10px;
    font-size: 14px;
    color: #757575;
}
.home .top_category .container .cat_box button
{
    margin-top: 10px;
    padding: 10px 20px;
    color: #fff;
    background: #2196f3;
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}
.home .top_category .container .cat_box button:hover
{
    background: #232323;
}
.home .top_category .container .box
{
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px 10px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}
.home .top_category .container .box:hover
{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.home .top_category .container .box .info h4
{
    text-align: center;
    color: #232323;
    font-size: 14px;
}
.home .featured_product
{
    padding: 20px 30px;
    width: 100%;
    background: #eeeeee;
}
.home .featured_product h3
{
    color: #232323;
    font-size: 22px;
    border-bottom: 2px solid #2196f3;
    width: 200px;
}
.home .featured_product .container
{
    max-width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.home .featured_product .container .box
{
    width: 370px;
    padding: 10px 20px;
    background: #fff;
    overflow: hidden;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    cursor: pointer;
    transition: 0.5s;
}
.home .featured_product .container .box:hover
{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.home .featured_product .container .box .img_box img
{
    width: 130px;
}
.home .featured_product .container .box .detail
{
    margin-left: 10px;
    margin-top: 10px;
}
.home .featured_product .container .box .detail h4
{
    color: #232323;
    font-weight: 300;
    margin-top: 10px;
    font-size: 16px;
}
.home .featured_product .container .box .detail p
{
    margin-top: 20px;
    color: #2196f3;
    font-size: 16px;
    font-weight: 600;
}
.home .newsletter
{
    padding: 50px 60px;
    width: 100%;
    background: #eeeeee;
    align-items: center;
    justify-content: center;
}
.home .newsletter .conatiner
{
    padding: 30px 40px;
    border: 1px solid #fff;
    background: #fff;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.home .newsletter .conatiner .main h3
{
    font-size: 32px;
    color: #232323;
}
.home .newsletter .conatiner .main p
{
    margin-top: 10px;
    color: #232323;
}
.home .newsletter .conatiner .main p span
{
    color: #dc143c;
}
.home .newsletter .conatiner .detail p
{
    margin-top: 20px;
    margin-right: 90px;
    color: #232323;
    font-size: 16px;
}
.home .newsletter .conatiner .detail p span
{
    font-weight: 600;
}
.home .newsletter .conatiner .box
{
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.home .newsletter .conatiner .box input
{
    width: 80%;
    border: none;
    outline: none;
    padding: 10px 20px;
    color: #232323;
    border: 2px solid #2196f3;
    border-radius: 2px;
}
.home .newsletter .conatiner .box button
{
    padding: 10px 20px;
    background: #2196f3;
    border: 2px solid #2196f3;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}
.home .newsletter .conatiner .box button:hover
{
    border: 2px solid #232323;
    background: #232323;
}
.home .brands
{
    padding: 20px 30px;
    width: 100%;
    background: #fff;
}
.home .brands .Container
{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.home .brands .Container .box 
{
    width: 220px;
    border: 1px solid #eeeeee;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
}
.home .brands .Container .box img
{
    margin-left: 50px;
}
@media(max-width:1300px)
{

    .home .top_banner .contant .info h2
    {
        margin-right: -30%;
    }
}
@media(max-width:950px)
{
    .home .top_banner .contant
    {
        margin-top: -100px;
        margin-left: -100px;
    }
    .home .top_banner .contant .img_box img
    {
        margin-top: 50px;
        margin-left: 50px;
    }
}
@media(max-width:750px)
{
    .home .top_banner .contant
    {
        flex-wrap: wrap;
    }
    .home .top_banner .contant .img_box img
    {
        margin-top: 0px;
    }
    .home .mid_banner .container .banner_box img
    {
        width: 250px;
    }
}
@media(max-width:500px)
{
    .home .newsletter
    {
        padding: 10px 20px;
    }
    .home .newsletter .conatiner .detail p
    {
        margin-right: 0px;
    }   
    .home .newsletter .conatiner .box
    {
        flex-direction: column;
    }
    .home .newsletter .conatiner .box input
    {
        width: 100%;
    }
    .home .newsletter .conatiner .box button
    {
        margin-top: 10px;
    }
}
@media(max-width:410px)
{
    .home .top_banner .contant .info h2
    {
        margin-right: -30%;
        font-size: 22px;
    }
    .home .top_banner .contant .img_box img
    {
        margin-top: 0px;
        margin-right: -30px;
    }
    .home .featured_product .container .box
    {
        width: 100%;
    }
    .home .featured_product .container .box .img_box img
    {
        width: 70px;
    }
}





