*
{
    margin: 0;
    padding: 0;
    font-family: arial,sans-serif;
    box-sizing: border-box;
}
.nav
{
    width: 100%;
}
.nav .container
{
    max-width: 100%;
}
.nav .container .top_bar
{
    padding: 20px 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #e3e3e3;
}
.nav .container .top_bar p
{
    color: #757575;
    font-weight: 600;
    font-size: 14px;
}
.nav .container .top_bar .link
{
    color: #757575;
}
.nav .container .mid_bar
{
    width: 100%;
}
.nav .container .mid_bar .content
{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    background: #fff;
}
.nav .container .mid_bar .content .navicon
{
    display: none;
}
.nav .container .mid_bar .content .logo h1
{
    margin-top: 10px;
    width: 150px;
    transition: 0.5s;
    cursor: pointer;
    color:blue;
}
.nav .container .mid_bar .content .logo h1:hover
{
    opacity: 0.6;
}
.nav .container .mid_bar .content .search_bar
{
    display: flex;
    margin-left: -30px;
}
.nav .container .mid_bar .content .search_bar input
{
    width: 350px;
    padding: 14px;
    outline: none;
    border: 1px solid #bdbdbd;
}
.nav .container .mid_bar .content .search_bar button
{
    padding: 14px;
    width: 80px;
    outline: none;
    border: 1px solid #2196f3;
    background: #2196f3;
    cursor: pointer;
    color: #fff;
}
.nav .container .mid_bar .content .icons
{
    margin-top: 10px;
    display: flex;
}
.nav .container .mid_bar .content .icons .icon
{
    padding: 10px 10px;
    margin-right: 10px;
    border: 1px solid #bdbdbd;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
}
.nav .container .bottom_bar
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    background: #0163d2;
    flex-wrap: wrap;
}
.nav .container .bottom_bar .user_detail
{
    display: flex;
    background: #1953b4;
    padding: 10px 20px;
}
.nav .container .bottom_bar .user_detail .icon
{
    color: #fff;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
}
.nav .container .bottom_bar .user_detail .detail
{
    margin-left: 10px;
}
.nav .container .bottom_bar .user_detail .detail h2
{
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
}
.nav .container .bottom_bar .user_detail .detail p
{
    color: #fff;
    font-size: 12px;
    font-weight: 600;
}
.nav .container .bottom_bar ul
{
    display: flex;
    margin-top: 20px;
}
.nav .container .bottom_bar ul li
{
    margin-left: 15px;
    list-style: none;
}
.nav .container .bottom_bar ul li .link
{
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}
.nav .container .bottom_bar .offer
{
    padding: 10px 20px;
    background: #ffd54f;
}
.nav .container .bottom_bar .offer h2
{
    font-size: 18px;
    text-transform: uppercase;
    color: #232323;
    margin-top: 8px;
    font-weight: 600;
    letter-spacing: 1px;
}
@media(max-width:850px)
{
    .nav .container .mid_bar .content .navicon
    {
        display: block;
    }
    .nav .container .mid_bar .content .navicon .navopen
    {
        margin-top: 5px;
        font-size: 22px;
    }
    .nav .container .mid_bar .content .navicon .closenav
    {
        margin-top: 5px;
        font-size: 22px;
    }
    .nav .container .mid_bar .content .search_bar
    {
        background: #fff;
        width: 100%;   
        position: absolute;
        margin-top: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav .container .mid_bar .content .search_bar input
    {
        width: 80%;
        padding: 14px;
        outline: none;
        border: 1px solid #bdbdbd;
    }
    .nav .container .mid_bar .content .icons
    {
        margin-top: -0px;
    }
    .nav .container .mid_bar .content .icons .icon
    {
        border: none;
        font-size: 16px;
    }
    .nav .container .mid_bar .content .logo img
    {
        margin-top: -0px;
        width: 150px;
    }
    .nav .container .bottom_bar
    {
        margin-top: 50px;
        flex-direction: column;
        display: none;
    }
    .nav .container .bottom_bar.active
    {
        display: block;
    }
    .nav .container .bottom_bar ul
    {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .nav .container .bottom_bar ul li
    {
        margin-top: 20px;
    }
}
@media(max-width: 420px)
{
    .nav .container .mid_bar .contant .logo img
    {
        margin-left: 20px;
    }
}