*
{
    margin:0;
    padding:0;
    font-family:Arial,sans-serif;
    box-sizing:border-box;
}
.shop
{
    padding: 20px 30px;
    width:100%;
}
.shop h4
{
    color:#323232;
}
.shop .shop_container
{
    margin-top:30px;
    padding:30px 40px;
    max-width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.shop .shop_container .left_box .content
{
    padding:20px 20px;
    border:1px solid #757575;
    border-radius:2px;
}
.shop .shop_container .left_box .content h3
{
    font-size:22px;
    color:#222222;
}
.shop .shop_container .left_box .content h3 span
{
    border-bottom: 2px solid #2196f3;
}
.shop .shop_container .left_box .content ul
{
    margin-top:15px;
}
.shop .shop_container .left_box .content ul li
{
    list-style:none;
    margin-top:10px;
    color:#323232;
    font-size: 16px;
    text-transform: capitalize;
    width:0%;
    background: #eeeeee;
    cursor:pointer;
    padding:10px 20px;
    transition:0.5s;
}
.shop .shop_container .left_box .content ul li:hover
{
    width:100%;
    color:#2196f3;
}
.shop .shop_container .right_box .content .top_banner img
{
    width:850px;
}
.shop .shop_container .right_box .content h2
{
    font-size:28px;
    color:#222222;
    margin-top:15px;
    border-bottom:2px solid #2196f3;
    width:150px;
    letter-spacing: 1px;
}
.shop .shop_container .right_box .content .product_container
{
    margin-top: 20px;
    max-width: 850px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.shop .shop_container .right_box .content .product_container .box
{
    margin-left: 30px;
    margin-top: 10px;
    padding: 10px 20px;
    width: 200px;
    overflow: hidden;
    border: 1px solid #eeeeee;
    transition: 0.5s;
}
.shop .shop_container .right_box .content .product_container .box:hover
{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.shop .shop_container .right_box .content .product_container .box .img_box img
{
    width: 150px;
}
.shop .shop_container .right_box .content .product_container .box .detail .icons
{
    margin-top: -30px;
    position: absolute;
    transition: 0.5s;
    display: flex;
    opacity: 0;
}
.shop .shop_container .right_box .content .product_container .box:hover .detail .icons
{
    opacity: 1;
}
.shop .shop_container .right_box .content .product_container .box .detail .icons .icon
{
    margin-left: 10px;
    background: #fff;
    padding: 10px 10px;
    border: 1px solid #757575;
    color: #232323;
    cursor: pointer;
    border-radius: 2px;
    transition: 0.5s;
}
.shop .shop_container .right_box .content .product_container .box .detail .icons .icon:hover
{
    border: none;
    background: #2196f3;
    color: #fff;
}
.shop .shop_container .right_box .content .product_container .box .detail h3
{
    margin-top: 10px;
    color: #232323;
    font-size: 12px;
    text-align: center;
}
.shop .shop_container .right_box .content .product_container .box .detail h4
{
    margin-top: 10px;
    color: #2196f3;
    font-size: 14px;
    font-weight:600;
    text-align: center;
}
.shop .shop_container .right_box .content .product_container .box .detail button
{
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    border: 1px solid #2196f3;
    background: #2196f3;
    transition: 0.5s;
    margin-top: 10px;
    margin-left: 30px;
}
.shop .shop_container .right_box .content .product_container .box .detail button:hover
{
    background: none;
    color: #2196f3;
}
@media(max-width:1240px)
{
    .shop .shop_container
    {
        flex-direction: column;
    }
    .shop .shop_container .left_box
    {
        width: 100%;
    }
    .shop .shop_container .left_box .content
    {
        max-width: 100%;
        border: none;
    }
    .shop .shop_container .left_box .content h3
    {
        text-align: center;
    }
    .shop .shop_container .left_box .content ul
    {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .shop .shop_container .left_box .content ul li
    {
        width: 100%;
    }
    .shop .shop_container .right_box .content .product_container
    { 
        max-width: 100%;
        justify-content: center;
    }
    .shop .shop_container .right_box .content .top_banner
    {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}
@media(max-width:950px)
{
    .shop .shop_container .right_box .content .top_banner img
    {
        width: 100%;
    }
}